@media only screen and (max-width: 1200px) {
  #header .toggle-menu-holder .toggle-menu {
    background-color: #fdbe19;
  }
  .tour-category-item .hotel-lists .hotel-list-item .entry-content {
    float: inherit;
  }
}
@media only screen and (max-width: 768px) {
  .md-none {
    display: none;
  }
  #hotels .page-title {
    margin: 0;
  }
  .nav-item.active a {
    padding: 10px 15px;
  }
  .images-feed {
    margin-top: 30px;
    display: none;
  }
  .padding-tb-100px {
    padding-top: 50px;
    padding-bottom: 80px;
  }
  .banner-form-wrapper {
    background-image: none;
    padding: 50px 0px 0 0px;
    padding-top: 130px;
  }
  #our-travel {
    padding-top: 50px !important;
  }
  .search-filter.row.no-gutters.box-shadow.sm-tb-40px {
    margin: 0 10px;
  }
  .visible-md.visible-xs {
    display: none !important;
  }
  #header .toggle-menu-holder .menu-body {
    margin-top: 18px;
    position: fixed;
    width: 100%;
  }
  ul.nav.nav-tabs.flex-column {
    flex-direction: inherit !important;
  }
  .footer-menu-items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    margin-top: 20px;
    margin-left: 12px;
  }
  #header .branding {
    width: 100%;
    text-align: left !important;
    /* padding-top: 14px; */
  }
  #header .toggle-menu-holder .toggle-menu {
    position: relative !important;
    top: 10px;
  }
  header#header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
  }
  a.btn-sm {
    justify-content: center;
  }

  a.btn-sm i {
    width: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    height: 40px;
  }
  h1.page-title {
    font-size: 31px;
    margin-bottom: 15px;
}
#sliding-testimony .testimony-author, #sliding-testimony .impressive-figures-heading {
  font-size: 28px;
}
#hotels {
  background-color: #ffffff;
  border-bottom: 1px solid #e9eff4;
}
.hotels-filter-form ul li.form-member .chosen-select {
  width: 100%;
}
#header .branding {
  margin-top: 15px;
  margin-bottom: 10px;
}
.branding img {
  width: 145px;
}
#header .toggle-menu-holder .menu-body ul li a {
  min-width:100%;
}
.hotels-filter-form ul .short-by {
  width: 100% !important;
}
}
@media only screen and (max-width: 460px) {
  #header .toggle-menu-holder {
    display: block;
  }
}
@media only screen and (max-width: 370px) {
  .controls ul li {
    float: inline-start !important;
  }
}
