@import url(elegant-font/style.css);
@import url(css/font-awesome.min.css);

body {
  font-size: 14px !important;
}
ul {
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}
a {
  text-decoration: none !important;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.images-feed {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.images-feed li a img {
  max-width: 100%;
}
.footer-menu-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.margin-bottom-20px {
  margin-bottom: 20px;
}
.padding-tb-100px {
  padding-top: 100px;
  padding-bottom: 100px;
}
.tour-items {
  display: none;
}
.tour-items.active-tour-item {
  display: block;
}
.responsive-image {
  width: 100%;
  height: auto;
}
.testimonials h1 {
  text-align: center;
  /* margin-bottom: 20px; */
  padding-bottom: 20px;
}
.check-box-items li input {
  width: 16px;
  height: 16px;
  margin-right: 15px;
  margin-left: 0;
}

.filter-input li {
  display: flex;
  align-items: center;
  gap: 10px;
  /* justify-content: space-between; */
}
.filter-input li::before {
  display: none !important;
}
.filter-input li::after {
  display: none !important;
}
.filter-input input {
  width: 16px;
  height: 16px;
}

.filter-input label {
  margin: 0 !important;
}

li.form-member.form-member1 .chosen-select {
  height: 75%;
  margin: 5px 0;
  background-color: #fff;
  border: none;
  color: #95a8b4;
  border-radius: 2px;
}
li.form-member.form-member1 .chosen-select option {
  background-color: white;
  color: black;
  padding: 5px 0;
}

/* Style for the hover state of options */
li.form-member.form-member1 .chosen-selectoption:hover {
  background-color: #e0e0e0 !important; /* Set the hover background color */
  color: black; /* Set the hover text color */
}
.price-range-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider-img img {
  width: 100%;
}
.slider-img {
  position: relative;
}

.slider-content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  display: flex;
  align-items: center;
}

.slider-content-wrapper .row {
  width: 100%;
}
.bottom-80px {
  bottom: 80px;
}
.background-second-color {
  background-color: #fdbe19;
  padding: 0 !important;
  margin: 0;
}
.hero-form {
  z-index: 2;
  background: #fff;
}
.padding-30px {
  padding: 15px;
}

img.hidden-xs {
  width: 100%;
}
.box-shadow {
  -webkit-box-shadow: 0px 0px 32px -8px #858585;
  -moz-box-shadow: 0px 0px 32px -8px #858585;
  box-shadow: 0px 0px 32px -8px #858585;
}
.booking-form-box {
  background: #fff;
}
a.nav-link.active {
  background-color: #1db8c1 !important;
  color: #fff !important;
}

a.nav-link {
  font-weight: 600;
  color: #000;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}
a.nav-link:hover {
  background-color: #1db8c1 !important;
  color: #fff !important;
}
.slider-content {
  max-width: 500px;
}
h1.title {
  color: rgb(29, 184, 193);
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 20px;
}

h3.sm-title {
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-bottom: 20px;
}

.slider-content p {
  color: rgb(99, 99, 99);
  font-size: 14px;
  margin-bottom: 20px;
}

a.custom-btn {
  background: rgba(243, 190, 78, 0.75);
  padding: 7px 20px;
  color: #fff;
  font-size: 20px;
}
.range-slider input {
  display: none;
}
ul.footer-menu-items li a {
  color: #1db8c1;
  font-weight: 400;
  font-size: 17px;
}

.banner-form-wrapper {
  background-image: url(../img/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0;
  padding-top: 200px;
}
.nav-item {
  display: none;
}
.nav-item.active {
  display: block;
  color: #fff !important;
  background-color: #1db8c1 !important;
}
.nav-item.active a {
  color: #fff !important;
  background-color: #1db8c1 !important;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 25px;
}
.nav-item a {
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 600;
}
.nav-item a i {
  display: none;
}
.nav-item.active a i {
  display: block;
}
.from-wrapper {
  display: none;
}
.from-wrapper.active {
  display: block;
}
#header .toggle-menu-holder .menu-body {
  right: 0%;
}
/* header .toggle-menu-holder .toggle-menu:hover,
#header .toggle-menu-holder .toggle-menu {
  background-color: #8bcf17;
} */
.grid-contents .thumbnailz .overlay {
  background: #ea045e url("../../assets/images/arrow-right-circle.png") 50% 50%
    no-repeat !important;
}
#main-menu a:hover {
  color: #fff;
  background: #ea045e;
}

#main-menu a.active {
  color: #fff;
  background: #ea045e;
}
#main-menu a.active i {
  color: #fff;
}
#main-menu li a:before {
  border-bottom: 3px solid #ea045e;
}
#main-menu > nav > ul > li > a:hover i {
  color: #fff;
}
.tour-category-item .hotel-lists .button {
  margin-top: 5px;
  background: #ea045e;
  border-color: #ea045e;
  color: #ffffff;
}
/* =============== Partner Item ========== */
.mentioned_section {
  padding: 50px 0 0px 0;
}

.images_slider {
  width: 100%;
  overflow: hidden;
}

.images_slider .images_slider_wrapper {
  width: fit-content;
  display: flex;
}

.images_slider .images_slider_wrapper .images_slider_imgs {
  display: grid;
  min-width: fit-content;
  animation: aboutImgSlider1 30s linear infinite;
  -webkit-animation: aboutImgSlider1 30s linear infinite;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.images_slider_imgs img {
  max-width: 100%;
}
@keyframes aboutImgSlider1 {
  from {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}
.images_slider_imgs img {
  margin: 10px;
}
@media screen and (max-width: 768px) {
  .mentioned-area {
    display: none;
  }
  .images_slider_img {
    width: 200px !important;
  }
}
@media screen and (max-width: 400px) {
  .mentioned_section {
    padding: 30px 0 0;
  }
}
a.btn-sm {
  background: #1db8c1 !important;
  color: #fff;
  transition: 0.3s;
  display: flex;
  align-items: center;
  padding: 0;
}

a.btn-sm i {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ea045e;
  height: 40px;
}

a.btn-sm span {
  padding: 0 10px;
}

a.btn-sm:hover {
  background: #ea045e !important;
}

#header .branding {
  margin-top: 15px;
}

.ant-input-number {
  width: 100% !important;
  border-radius: 4px !important;
}
.ant-input-number.css-2q8sxy:focus {
  border: 1px solid #ea045e !important;
}
.ant-input-number.css-2q8sxy:hover {
  border: 1px solid #ea045e !important;
}
.ant-input-number.css-2q8sxy:focus-within {
  border: 1px solid #ea045e !important;
}
.ant-input-number.ant-input-number-input-wrap input {
  padding: 7px 10px !important;
}
.ant-input-number-handler-wrap {
  opacity: 1 !important;
  background: #ea045e !important;
  border-start-end-radius: 4px !important;
  border-end-end-radius: 4px !important;
}
span.ant-input-number-handler span {
  color: #ffffff !important;
}
.range-slider .range-slider__thumb {
  background: #ea045e !important;
}
.range-slider .range-slider__range {
  background: #ea045e !important;
}
input.ant-input-number-input {
  padding: 7px 10px !important;
}
.hotels-filter-form ul li.form-member .chosen-select {
  display: block;
  width: 96%;
}
.ant-select-selector {
  border: none !important;
  border-radius: 2px !important;
}
.form-member.form-member1 .chosen-select {
  position: relative;
}
.form-member.form-member1 .chosen-select:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: block;
  width: 22px;
  border-start-end-radius: 2px;
  border-end-end-radius: 2px;
  height: 100%;
  background: #ea045e url(../../assets/images/select-dropdown.png) center center
    no-repeat;
}
.ant-select-item.ant-select-item-option.ant-select-item-option-active.ant-select-item-option-selected {
  color: #ffffff !important;
  background-color: #ea045e !important;
}
.ant-select-item.ant-select-item-option.ant-select-item-option-selected {
  color: #ffffff !important;
  background-color: #ea045e !important;
}

select.form-select {
  padding: 8px;
  border-radius: 0;
  border: 1px solid #d4d1d1;
  font-size: 14px;
}
.slider-item-details img {
  width: 100%;
}

.sponser-section {
  margin-top: 20px;
}
.form-select:focus {
  border-color: #ea045e !important;
  outline: 0;
  box-shadow: none !important;
}

/* --------------page banner ================== */
.page-banner img {
  width: 100%;
}
.section-head {
  text-align: center;
}

.package-section {
  padding: 50px 0;
}
.section-head {
  padding-bottom: 30px;
}
.section-head h2 {
  font-size: 65px;
  color: #0e89c4;
}

.section-head h3 {
  font-size: 45px;
  color: #ea045e;
}
.package-card-item {
  border: 1px solid #dc3545;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}
.pack-name {
  font-size: 36px;
  color: #fff;
  padding: 2px 30px;
  text-align: center;
  font-weight: 500;
}

.pack-card1 {
  background: rgb(138, 98, 14);
  background: linear-gradient(
    70deg,
    rgba(138, 98, 14, 1) 0%,
    rgba(1, 141, 194, 1) 100%
  );
}
.pack-card2 {
  background: rgb(1, 186, 194);
  background: linear-gradient(
    70deg,
    rgba(1, 186, 194, 1) 0%,
    rgba(14, 75, 138, 1) 100%
  );
}
.pack-card3 {
  background: rgb(1, 112, 194);
  background: linear-gradient(
    70deg,
    rgba(1, 112, 194, 1) 0%,
    rgba(138, 14, 114, 1) 83%
  );
}
.price-card-details {
  padding: 20px;
}

.price-card-details h4 {
  font-size: 50px;
  color: #686868;
}

ul.price-ul li p {
  font-size: 25px;
  font-weight: 500;
  color: #686868;
}

p.price-text {
  font-size: 20px !important;
  font-weight: 700 !important;
  color: #dc3545 !important;
}

ul.price-ul li {
  line-height: 110%;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
ul.price-ul li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

ul.price-ul {
  margin-top: 25px;
}

button.apply-btn {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  background: #817d7d;
  border: none;
  color: #fff;
  transition: 0.3s;
}
.apply-btn.active {
  background: #dc3545;
}

button.apply-btn:hover {
  background: #dc3545;
}

.apply-btn-wrapper {
  margin-top: 13px;
}
.requirment-title {
  font-size: 25px;
  font-weight: 600;
}

ul.requirment-ul {
  font-size: 20px;
}
.visa {
  background-image: url(../img/visa.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 150px;
  padding-bottom: 100px;
}
.visa-form-input {
  background: #fff;
  padding: 30px;
}

.form-title {
  width: fit-content;
  background: #dc3545;
  padding: 10px 30px;
  color: #fff;
}

.form-title h3 {
  font-size: 23px;
}

.form-control {
  box-shadow: none;
  font-size: 16px !important;
  border-radius: 0 !important;
}
.visa-submit-btn {
  width: 100%;
  padding: 8px;
  border: none;
  background: #dc3545;
  color: #fff;
  font-size: 20px;
  transition: 0.3s;
}
.form-control:focus {
  border-color: #dc3545 !important;
  box-shadow: none !important;
}

@media screen and (max-width: 1100px) {
  .section-head h2 {
    font-size: 50px;
  }
  .section-head h3 {
    font-size: 35px;
  }
  .pack-name {
    font-size: 25px;
  }
  .price-card-details h4 {
    font-size: 35px;
}
p.price-text {
  font-size: 15px !important;}
}
ul.price-ul li p {
  font-weight: 500;
  color: #686868;
  font-size: 16px;
}

@media screen and (max-width: 1100px) {
  .section-head h2 {
    font-size: 35px;
  }
  .section-head h3 {
    font-size: 25px;
  }}


  .transfer-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.transfer-btn {
  border: none;
  background: #1db8c1;
  color: #fff;
  padding: 8px 16px;
  transition: .3s;
  font-weight: 600;
}
.transfer-btn.active{
  background: #ea045e;
}

.enc-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 7px 5px;
}

.enc-btn {
    border: none;
    background: #ddd;
    color: #1db8c1;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enc-wrapper p {
    margin-bottom: 0;
}.radio-input-group {
  display: flex;
  align-items: center;
  gap: 10px;
}